body {
  font-family: Montserrat, sans-serif;
  margin: 0;
  left: 0;
  background-image: url("../images/home.png");
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-position: center;
  /* position: relative; */
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
*{
  padding:0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
.container-fluid{
  width: 100%;
}
nav{
  height: 3rem;
  width: 100%;
  margin-top: -37rem;
  margin-left: 5rem ;
  padding: 0;
  position: fixed;
}
label.logo{
  color:#717273;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul{
 float:right;
 margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin:0.5px;
}
nav ul li a{
  color:white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
}
a.active,a:hover{
  background: #b9b9b9;
  transition: 0.5s;

}
.user,
.admin {
  background-color: #4c4c4c;
  opacity: 0.6;
  width: 20%;
  text-align: center;
  padding: 1.3rem 0;
  margin: 0 5rem;
  border-radius: 30px;
}
::-webkit-input-placeholder {
  text-align: center;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  position: center;
  align-items: center;
  margin: 0;
}
.details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.details input {
  margin: 0.5rem;
  height: 2.2rem;
  color: black;
}
.or {
  color: white;
  margin-top: 0.8rem;
  font-size: 0.8rem;
}
.txt {
  font-size: 175%;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  color: #d9d9d9;
}
.loginicon {
  display: inline-block;
  margin: 0.5rem 0.5rem;
  color: black;
  font-size: 1.5rem;
  font-weight: bolder;
}
.searchicon {
  display: inline-block;
  margin: 0.5rem 0.5rem;
  color: black;
  font-size: 1.5rem;
  font-weight: bolder;
}
.login{
  width: 40%;
  border-radius: 10px;
  margin-bottom: 0.5rem;
}
.logininput{
  border-radius: 5px;
  
}