body {
  font-family: Montserrat, sans-serif;
  margin: 0;
  background-image: url("../images/home.png");
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}
.adminNav {
  padding: 0;
  margin: 0;
  background-color: #4c4c4c;
  height: 100%;
  position: relative;
  width: 30%;
  display: inline-block;
  list-style: none;
}
.adminHeader {
  text-align: left;
  font-size: 2.5rem;
  padding: 1rem;
  padding-left: 3.5rem;
  font-weight: 700;
  color: #d9d9d9;
}
.nav {
  margin-top: 1rem;
}
.nav-link {
  display: block;
  color: #d9d9d9;
  text-decoration: none;
  font-size: 2rem;
  padding: 1rem 3.5rem;
  width: 100%;
}
.nav-link:hover {
  background-color: #d9d9d9;
  color: #717273;
}
/* .activeNav{
  background-color: #d9d9d9;
  color: #717273;
} */
nav {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
ul {
  width: 100%;
  padding: 0;
  margin: 0;
}

.explore{
  padding: 0;
  margin: 0;
  height: 100%;
  width: 70%;
  display: inline-block;
  position:absolute;
  overflow:scroll;
}
.explore::-webkit-scrollbar {
  display: none;
}
.registerfeed {
  margin: 2rem auto;
  height: fit-content;
  width: 90%;
  padding: 2rem;
  background-color: #4c4c4c;
  color: #d9d9d9;
  border-radius: 30px;
}
.searchSection{
    width: 100%;
    height: 100%;
}
.searchSection .searchButton{
  font-weight: 900;
  font-size: 40px;
  color: #4c4c4c;
  margin-left: 4rem;
}
.searchBar{
    width: 60%;
    margin: 1rem 5rem;
    margin-left: 2rem;
    /* margin-right: 1rem; */
    height: 25px;
    background-color: #4c4c4c;
    border-radius: 15px;
    color: #d9d9d9;
    font-size: 2rem;
    padding: 2rem;
    outline: none;
}
.searchSection .Submit{
    height: 10%;
    width: 10%;
    background-color: #4c4c4c;
    color: #d9d9d9;
    border-radius: 10px;
}

.searchBar::placeholder{
    color: #d9d9d9;
}
  .popup{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    text-align: center;
    position: center;
    align-items: center;
    margin: 1.5rem;
  }

.lost,.found{
  display:flex;
  flex-direction:row;
  height: 100%;
}
.lostpopup, .foundpopup{
  background-color: #4c4c4c;
  opacity: 0.6;
  width: 80%;
  height: 60%;
  text-align: center;
  padding: 1.3rem 0;
  margin: 0 5rem;
  border-radius: 30px;
}
.lostpopup input,.foundpopup input{
  margin: 0.5rem;
  height: 2.2rem;
  color:black;
  width: 80%;
  background-color: #d9d9d9;
}

::-webkit-input-placeholder {
    text-align: center;
  }
.subButton{
  align-items: center;
  text-align: center;
}
.foundItemfeed,.notFoundfeed{
  margin: 2rem auto;
  height: fit-content;
  width: 90%;
  padding: 2rem;
  background-color: #4c4c4c;
  color: #d9d9d9;
  border-radius: 30px;
}

.searchResult{
  margin: 2rem auto;
  height: 550px;
  width: 90%;
  padding: 2rem;
  background-color: #d9d9d9;
  color: #4c4c4c;
  border-radius: 30px;
  overflow-y: scroll;
}

.searchResult::-webkit-scrollbar{
  display: none;
}
