body {
    font-family: Montserrat, sans-serif;
    margin: 0;
    left: 0;
    background-image: url("./images/home.png");
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
  *{
    padding:0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  .adminNav{
    padding: 0;
    margin: 0;
    background-color: #4c4c4c;
    height: 100%;
    position: fixed;
    width: 30%;
  }
  .adminHeader{
    text-align: left;
    font-size: 2.5rem;
    padding: 1rem;
    padding-left: 3.5rem;
    font-weight: 700;
    color: #d9d9d9;
  }
  .nav {
      margin-top: 1rem;

  }
  .nav-link {
    display: block;
    color:#d9d9d9;
    text-decoration: none;
    font-size: 2rem;
    padding:1rem 3.5rem;
    width: 100%;
  }
  .nav-link:hover {
    background-color: #d9d9d9;
    color:#717273;
  }
  
  nav {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  ul {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  